.container-5 {
  width: 100%;
}
.section-5 {
  background: var(--bg-get-involved) center no-repeat;
}

#section5 .description {
  font-size: 20px;
  margin: 60px 0;
}
#section5 .main-title {
  font-size: 30px;
  font-family: monospace;
}
.s5-background-fill {
  border: 1px #7ed957;
  color: #232e26;
  background-color: #7ed957;
  font-size: 80px;
}
.s5-p {
  font-size: 32px;
}

#section5 .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: none;
  background-color: transparent;
  position: relative;
}

#section5 .list-group-item i {
  margin-left: 10px;
  font-size: 2rem;
  color: #54a489;
  transition: transform 0.4s;
}

#section5 .how-you-can-help-link {
  color: #fff;
  text-decoration: none;
  transition: transform 0.4s;
  padding-right: 8px;
}

.how-you-can-help-link:hover {
  color: #fff;
  text-decoration: underline;
  transform: scale(1.1);
}

.how-you-can-help-link:hover + i {
  transform: scale(1.1);
}

#section5 .separator {
  width: 100%;
  height: 1px;
  background-color: var(--separator);
  margin: 0;
}

/* responsif breakpoint */
@media (max-width: 992px) {
  #section5 .main-title {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  #section5 .carousel {
    max-width: 100%; /* Full width for carousel on smaller screens */
  }
  #section5 .description {
    font-size: 1rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media (max-width: 576px) {
  .how-you-can-help-link:hover,
  .how-you-can-help-link:hover + i {
    transform: none;
  }

  #section5 .list-group-item {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  #section5 .list-group-item i {
    margin-left: auto;
  }
}
