/* homepage */
#homepage {
  margin-top: 0;
  padding-top: 0;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/forest-bg.png);
  background-size: cover;
  z-index: -1;
  filter: brightness(0.7);
}

.homepage .navbar {
  position: relative;
  z-index: 1;
  height: 10vh;
}

.homepage .navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--abugelap);
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.homepage .navbar-brand,
.about-us .navbar-brand {
  font-size: 2em;
  color: var(--hijaumuda);
}

.homepage .navbar ul li a {
  color: var(--hijaumuda) !important;
}

.homepage .navbar ul li a:hover {
  color: var(--hijaulime) !important;
}

.homepage .title .text h1 {
  font-size: 4rem !important;
  color: var(--hijaumuda);
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--hijaumuda);
  text-shadow: 2px 2px 2px var(--hijaumuda), -3px -3px 2px rgba(105, 100, 100, 0.5);
}

.container-homepage .text .btn {
  border-radius: 25px;
  padding: 1vw 3vw;
  background-color: var(--abugelap);
  color: var(--hijaulime);
  transition: 0.5s ease;
}

.container-homepage .text .btn:hover {
  background-color: var(--hijaulime);
  color: var(--abugelap);
}

#homepage .description .icon-link:hover {
  color: var(--hijaulime) !important;
}
/* homepage end */
