/* homepage */
#homepage {
  margin-top: 0;
  padding-top: 0;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../bg-img/forest-bg.png');
  background-size: cover;
  z-index: -1;
  filter: brightness(0.7);
}

.homepage .navbar {
  position: relative;
  z-index: 1;
  height: 10vh;
}

.homepage .navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--abugelap);
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.homepage .navbar-brand {
  display: flex;
}

.homepage .navbar-brand h1 {
  font-weight: bold;
  font-size: 2em;
  color: var(--hijaumuda);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 4s steps(8) forwards, blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.homepage .navbar ul li a {
  color: var(--hijaumuda) !important;
}

.homepage .navbar ul li a:hover {
  color: var(--hijaulime) !important;
}

.homepage .title .text h1 {
  font-size: 4rem !important;
  color: var(--hijaumuda);
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--hijaumuda);
  text-shadow: 2px 2px 2px var(--hijaumuda), -3px -3px 2px rgba(105, 100, 100, 0.5);
}

.container-homepage .text .btn {
  border-radius: 25px;
  padding: 1vw 3vw;
  background-color: var(--abugelap);
  color: var(--hijaulime);
  box-shadow: 0 0 5px var(--abugelap), 0 0 25px var(--abugelap);
  animation: zoom 5s ease infinite;
}

.container-homepage .text .btn:hover {
  background-color: var(--hijaulime);
  color: var(--abugelap);
  box-shadow: 0 0 5px var(--hijaulime), 0 0 25px var(--hijaulime), 0 0 50px var(--hijaulime), 0 0 100px var(--hijaulime);
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
}

.homepage .description .icon-link {
  position: relative;
  padding: 4px 10px;
  transition: transform 0.1s ease;
}

.homepage .description .icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--abugelap);
  opacity: 0.3;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
}

#homepage .description .icon-link:hover {
  color: var(--hijaulime) !important;
  transform: translateY(-2px);
}
/* homepage end */
