.bg-dark {
     background-color: var(--abugelap);
}
.s2-p1 {
     color: #d8efdd;
}
.s2-txt1 {
	-webkit-text-stroke: 1.6px #7ed957;
	color: transparent;
	font-size: 75px;
	font-family: Arial Black, Gadget, sans-serif;
}
.s2-txt2 {
     color: #d8efdd;
     margin: 0;
     padding: 0;
     font-size: 73px;
}
.custom-question {
     color: #d8efdd;
     font-size: 73px;
     padding: 0;
     margin: 0;
}
.s2-h1 {}