.bg-dark {
  background-color: var(--abugelap);
}

.s2-p1 {
  color: #d8efdd;
  font-size: 22px;
  margin-bottom: 20px;
}
.s2-txt1 {
  -webkit-text-stroke: 1.6px var(--about-us-active2);
  color: transparent;
  font-size: 75px;
  font-family: Arial Black, Gadget, sans-serif;
}
.s2-txt2 {
  color: var(--nature-s2);
  margin: 0;
  padding: 0;
  font-size: 73px;
}
#section2 .custom-question {
  color: var(--nature-s2);
  font-size: 73px;
  padding: 0;
  margin: 0;
}
.s2-h1 {
  margin-bottom: 20px;
}

#section2 .custom-card {
  border: none;
  border-radius: 15px;
  color: var(--hijaulime);
  background-color: var(--gray);
  transition: transform 0.2s;
  min-height: 200px;
  margin-top: 20px;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#section2 .custom-card::after,
#section2 .custom-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  background-image: conic-gradient(from var(--angle), transparent 70%, #ffffff, #7ed957, #87ceeb);
  padding: 45% 51%;
  border-radius: 15px;
  animation: 3s spin linear infinite;
}

#section2 .custom-card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

#section2 .custom-card h3 {
  font-size: 2rem;
  margin: 0;
  font-size: 40px;
}

#section2 .custom-card p {
  margin: 0;
  margin-top: 20px;
  font-size: 23px;
}

#section2 .img-fluid {
  max-width: 100%;
  height: auto;
  margin-right: 150px;
  margin-left: 0;
}

@keyframes spin {
  form {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@media (min-width: 1400px) {
  #section2 .custom-card::after,
  #section2 .custom-card::before {
    padding: 38% 51%;
  }
}

@media (max-width: 992px) {
  #section2 .img-fluid {
    height: 30%;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #section2 .custom-card::after,
  #section2 .custom-card::before {
    padding: 20% 50%;
  }

  #section2 h1 span,
  #section2 h1 .custom-question {
    font-size: 3rem;
  }

  .s2-p1 {
    font-size: 1rem;
  }

  #section2 .custom-card {
    margin-left: 10%;
    width: 75vw;
  }
}
