:root {
  --hijaumuda: #d8efdd;
  --hijaulime: #7ed957;
  --abugelap: #232e26;
  --abuterang: #666f69;
  --putihabu: #d8d5b7;
  --putih: #f4f4f4;
  --hitam: #000000;
  --hijaudaun: #7ed957;
  --gray: #38443c;
}

[data-theme="dark"] {
  --font-color: #e1e1ff;
  --bg-color: #232e26;
  --bg-image: url("../bg-img/Section-bg.svg");
  --heading: #fff;
  --highlight: #7ed957;
  --navbar: #d8efdd;
  --navbar-header: #232e26;
  --text-color: #d8efdd;
  --icon-color: #d8efdd;
  --section1: #7ed957;
  --section2: #7ed957;
  --nature-s2: #d8efdd;
  --about-us-s1: #7ed957;
  --about-us-s2: #7ed957;
  --about-us-quote: #7ed957;
  --about-us-alert: #e6f3e9;
  --about-us-active: #7ed957;
  --about-us-active2: #7ed957;
  --about-us-active3: #d8efdd;
  --about-us-slide-name: #d8efdd;
  --separator: #ccc;
  --satellite-image: url("../img/satelit.svg");
  --bg-get-involved: url("../bg-img/get-involved-bg-dark.png");
}

[data-theme="light"] {
  --font-color: #333;
  --bg-color: #d8efdd;
  --bg-image: url("../bg-img/Section-bg-1.svg");
  --heading: #000;
  --highlight: #f1c40f;
  --navbar: #232e26;
  --navbar-header: #d8efdd;
  --text-color: #232e26;
  --icon-color: #232e26;
  --section1: #1d5e02;
  --section2: #000;
  --nature-s2: #1d5e02;
  --about-us-s1: #232e26;
  --about-us-s2: #6e7f76;
  --about-us-quote: #1a3c6c;
  --about-us-alert: #666f69;
  --about-us-active: #6e7f76;
  --about-us-active2: #232e26;
  --about-us-active3: #232e26;
  --about-us-slide-name: #232e26;
  --separator: #232e26;
  --satellite-image: url("../img/satelit2.svg");
  --bg-get-involved: url("../bg-img/get-involved-bg-light.png");
}

/* Custom styles for softer colors and improved layout */
body {
  font-family: monospace;
  box-sizing: border-box;
  /* background-image: var(--bg-image); */
  background-color: var(--bg-color);
  overflow-x: hidden;
  color: var(--font-color);
  line-height: 1.5;
  min-height: 100vh;
}
.height-100vh {
  min-height: 100vh;
}

/* Spinner */
#spinner {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.hide {
  opacity: 0;
  visibility: hidden;
}
.top-50 {
  top: 50%;
}
.start-50 {
  left: 50%;
}
.translate-middle {
  transform: translate(-50%, -50%);
}
.icon-small {
  width: 4.2rem !important;
  height: auto !important;
}
/* spinner end*/

/* Light mode dan dark mode */
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  padding-right: 20px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background: #fff url("https://img.icons8.com/emoji/48/sun-emoji.png") no-repeat center center;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background: #fff url("https://img.icons8.com/emoji/48/new-moon-emoji.png") no-repeat center center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* light dark mode end */

.main-navbar .navbar-brand {
  transition: transform 0.4s;
}

.main-navbar .navbar-brand:hover {
  transform: scale(1.2);
}

.main-navbar nav ul a:hover {
  color: var(--hijaulime) !important;
}

.nav-link {
  color: #fff;
}
section {
  padding: 60px 0;
  /* background-image: var(--bg-image); */
  /* background-color: var(--bg-color); */
}
section.bg-light {
  background-color: #e8f6ef;
}
footer {
  background-color: #354f52;
  color: #fff;
  padding: 20px 0;
}
