:root {
  --hijaumuda: #d8efdd;
  --hijaulime: rgb(126, 217, 87);
  --abugelap: #232e26;
  --abuterang: #666f69;
  --putihabu: #d8d5b7;
  --putih: #f4f4f4;
  --hitam: #000000;
}

/* Custom styles for softer colors and improved layout */
body {
  font-family: "calibri", sans-serif;
  background-color: var(--putih);
  box-sizing: border-box;
  overflow-x: hidden;
}

#homepage {
  margin-top: 0;
  padding-top: 0;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/forest-bg.png);
  background-size: cover;
  z-index: -1;
  filter: brightness(0.7);
}

.homepage .navbar {
  position: relative;
  z-index: 1;
  height: 10vh;
}

.homepage .navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--abugelap);
  z-index: -1;
  opacity: 0.3;
}

.homepage .navbar-brand,
.about-us .navbar-brand {
  font-size: 2em;
  color: var(--hijaumuda);
}

.homepage .navbar ul li a {
  color: var(--hijaumuda) !important;
}

.homepage .navbar ul li a:hover {
  color: var(--hijaulime) !important;
}

.homepage .title .text h1 {
  font-size: 4rem !important;
  color: var(--hijaumuda);
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--hijaumuda);
  text-shadow: 2px 2px 2px var(--hijaumuda), -3px -3px 2px rgba(105, 100, 100, 0.5);
}

.container-homepage .text .btn {
  border-radius: 25px;
  padding: 1vw 3vw;
  background-color: var(--abugelap);
  color: var(--hijaulime);
  transition: 0.5s ease;
}

.container-homepage .text .btn:hover {
  background-color: var(--hijaulime);
  color: var(--abugelap);
}

.description .icon-link:hover {
  color: var(--hijaulime) !important;
}

.scroll {
  bottom: 0;
  left: 50%;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--hijaumuda);
}

.scroll:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--hijaumuda);
}

header {
  background-color: #82c7a5;
  padding: 60px 0;
  color: #fff;
}
.nav-link {
  color: #fff !important;
}
section {
  padding: 60px 0;
}
section.bg-light {
  background-color: #e8f6ef;
}
footer {
  background-color: #354f52;
  color: #fff;
  padding: 30px 0;
}
.btn-custom {
  background-color: #54a489;
  color: #fff;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-group-item i {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #54a489;
  transition: transform 0.4s;
}

.how-you-can-help-link {
  color: #000;
  text-decoration: none;
  transition: transform 0.4s;
}

.how-you-can-help-link:hover {
  color: #151313;
  text-decoration: underline;
  transform: scale(1.1);
}

.how-you-can-help-link:hover + i {
  transform: scale(1.1);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0;
}

#about-us {
  margin-top: 0;
  padding-top: 0;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

#about-us .navbar-brand {
  color: var(--abugelap);
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--hijaulime);
}

#about-us .navbar .bi:hover {
  color: var(--hijaulime);
}

#about-us .indicators {
  margin-left: 37.5vw;
  width: calc(720px / 4);
  display: flex;
  align-items: center;
  position: relative;
}

#about-us .indicators .indicator-button {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

#about-us .indicators .indicator-button:hover,
.indicator-button.clicked,
.indicator-button.active {
  color: var(--hijaulime) !important;
  transform: scale(1.1);
}

#about-us .indicators .indicator-button:hover button,
.indicator-button button.clicked,
.indicator-button.active button {
  background-color: var(--hijaulime) !important;
}

#about-us .indicators button {
  border: none;
  background-color: var(--hijaumuda);
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}

#about-us .indicators::before {
  content: "";
  position: absolute;
  top: 88%;
  left: 20%;
  right: -10%;
  height: 2px;
  background-color: var(--hijaumuda);
  z-index: 0;
}

#about-us .indicators p {
  width: 80px;
  z-index: 1;
}

#about-us .carousel-item .team .rounded-circle {
  background-color: var(--hijaumuda);
  border: 3px solid var(--hijaumuda);
  box-shadow: 0px 0px 19px var(--hijaulime);
}

#about-us .button-wrap button:hover {
  background-color: var(--abugelap) !important;
  color: var(--hijaulime) !important;
  border: 2px solid var(--hijaulime);
  opacity: 0.5;
}

#about-us .contact .form-control {
  background-color: var(--abuterang);
  border: none;
  border-radius: 10px;
}

/* responsif breakpoint */
@media (max-width: 850px) {
  #about-us nav h1 {
    font-size: 3em !important;
  }

  #about-us .carousel-item .row {
    padding: 0 3em 0 10vw !important;
    text-align: center;
  }

  #about-us .carousel-item .rounded-circle {
    width: 300px !important;
    height: 300px !important;
    margin: auto;
  }

  #about-us .carousel-item .quote,
  #about-us .carousel-item .nama,
  #about-us .carousel-item .sklh {
    font-size: 2rem;
  }

  #about-us .carousel-item .team,
  #about-us .carousel-item .team .dua {
    margin-top: 5vh;
  }

  #about-us .contact .row,
  #about-us .contact .row h1 {
    padding-left: 3em !important;
    text-align: start;
  }

  #about-us .contact button {
    margin-left: 1.5em;
  }
}

@media (max-width: 576px) {
  .how-you-can-help-link:hover,
  .how-you-can-help-link:hover + i {
    transform: none;
  }

  .list-group-item {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .list-group-item i {
    margin-left: auto;
  }

  #about-us nav h1 {
    font-size: 2em !important;
  }

  #about-us nav i {
    font-size: 1.5rem !important;
  }

  #about-us .form-check {
    font-size: 1rem !important;
  }

  #about-us .carousel-item .rounded-circle {
    width: 150px !important;
    height: 150px !important;
    margin-bottom: 30px;
  }

  #about-us .indicators {
    margin-left: 17vw;
  }

  #about-us .carousel-item .team .dua {
    margin-top: 3vh;
  }

  #about-us .carousel-item .quote {
    margin-top: -25px;
  }

  #about-us .carousel-item .nama {
    margin-top: -10px;
  }

  #about-us .carousel-item .quote,
  #about-us .carousel-item .nama,
  #about-us .carousel-item .sklh {
    font-size: 1rem;
  }

  #about-us .contact .row,
  #about-us .contact .row h1 {
    padding-left: 1em !important;
    text-align: start;
  }

  #about-us .contact button {
    margin-left: 0em;
  }

  #about-us .contact .via {
    margin-top: 1em;
    width: 50vw;
  }

  #about-us .contact .email {
    font-size: 0.7rem;
  }
}
