:root {
  --hijaumuda: #d8efdd;
  --hijaulime: #7ed957;
  --abugelap: #232e26;
  --abuterang: #666f69;
  --putihabu: #d8d5b7;
  --putih: #f4f4f4;
  --hitam: #000000;
  --hijaudaun: #7ed957;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme="light"] {
  --primary-color: #4caf50; /* Ganti dengan warna utama terang */
  --secondary-color: #e1e1e1; /* Ganti dengan warna sekunder terang */
  --font-color: #333; /* Ganti dengan warna font terang */
  --bg-color: #ffffff; /* Ganti dengan warna latar belakang terang */
  --heading-color: #000; /* Ganti dengan warna heading terang */
}

/* Custom styles for softer colors and improved layout */
body {
  font-family: monospace;
  box-sizing: border-box;
  background-image: url(../img/Section-bg.svg);
  overflow-x: hidden;
  color: var(--font-color);
  line-height: 1.5;
}

/* Spinner */
#spinner {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.hide {
  opacity: 0;
  visibility: hidden; /* Menyembunyikan spinner */
}
.top-50 {
  top: 50%;
}
.start-50 {
  left: 50%;
}
.translate-middle {
  transform: translate(-50%, -50%);
}
.icon-small {
  width: 4.2rem !important;
  height: auto !important;
}
/* spinner end*/

/* Light mode dan dark mode */
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  padding-right: 20px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background: #fff url("https://img.icons8.com/emoji/48/sun-emoji.png") no-repeat center center;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background: #fff url("https://img.icons8.com/emoji/48/new-moon-emoji.png") no-repeat center center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* light dark mode end */

.main-navbar nav ul a:hover {
  color: var(--hijaulime) !important;
}

header {
  background-color: #82c7a5;
  padding: 60px 0;
  color: #fff;
}
.nav-link {
  color: #fff;
}
section {
  padding: 60px 0;
}
section.bg-light {
  background-color: #e8f6ef;
}
footer {
  background-color: #354f52;
  color: #fff;
  padding: 30px 0;
}
.btn-custom {
  background-color: #54a489;
  color: #fff;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-group-item i {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #54a489;
  transition: transform 0.4s;
}

.how-you-can-help-link {
  color: #000;
  text-decoration: none;
  transition: transform 0.4s;
}

.how-you-can-help-link:hover {
  color: #151313;
  text-decoration: underline;
  transform: scale(1.1);
}

.how-you-can-help-link:hover + i {
  transform: scale(1.1);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0;
}

/* responsif breakpoint */
@media (max-width: 850px) {
}

@media (max-width: 768px) {
  .carousel {
    max-width: 100%; /* Full width for carousel on smaller screens */
  }
}

@media (max-width: 576px) {
  .how-you-can-help-link:hover,
  .how-you-can-help-link:hover + i {
    transform: none;
  }

  .list-group-item {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .list-group-item i {
    margin-left: auto;
  }
}
